{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app2/css/style.css' %}" >
   </head>
   <body>

  <nav>
    
    <label class="logo">Steganography</label>
    <!-- Navigation links -->
    <ul>
      {% if request.path == '/encode/' %}
      <li><a class="active" href="/decode/">Decryption</a></li>
      {% elif request.path == '/decode/' %}
      <li><a class="active" href="/encode/">Encryption</a></li>
      {% endif %}
      <li><a  class="active" href="#">user: {{ request.user }}</a></li>

      <li><a href="/about/">About</a></li>
     
      <li><a href="/l_out/">logout</a></li>
    </ul>
  </nav>
  {% block same %}

  {% endblock %}
   </body>
</html>