{% extends "base.html" %}
{% block same %}
  <div class="MainBox">  
    <div class="container">
      <input type="checkbox" id="flip">
      <div class="cover">
        <div >
          <div class="text">
            <span class="text-1">Concealing Secrets<br></span>
            <span class="text-2"> The Power of Steganography</span>
          </div>
        </div>
      </div>

      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Encryption</div>

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-boxes">

                <div class="input-box">
                  <i class="fas fa-envelope"></i>

                  <input type="text" name="text" placeholder="Enter your plaintext"  required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" name="password" placeholder="Enter your password" required>
                </div>

                <div class="input-box">
                  <label class="form-label">Choose image</label>
                  <input type="file" name="image" required>
                </div>
              </div>

              <!-- Apply the class "button" to your button -->
              <div>
                <button href="#" type="submit" class="button">Encode</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
